@font-face {
    font-family: 'Kaneda Gothic';
    src: url('KanedaGothic-BoldItalic.woff2') format('woff2'),
        url('KanedaGothic-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kaneda Gothic';
    src: url('KanedaGothic-Medium.woff2') format('woff2'),
        url('KanedaGothic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kaneda Gothic';
    src: url('KanedaGothic-Medium_1.woff2') format('woff2'),
        url('KanedaGothic-Medium_1.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

